<form #registerUserForm="ngForm" id="registerUserForm" (ngSubmit)="addUser()" autocomplete="off">
  <div class="row">
    <div class="col-md-12">
      <div class="modal-sub-title">
        <h4><i class="fa fa-user"></i> Staff Info</h4>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <input type="text" class="form-control" name="fristname" [(ngModel)]="model.firstname" placeholder="First Name">
          </div>
        </div>
        <div class="col-md-12">
          <div class="form-group">
            <input type="text" class="form-control" name="middlename" [(ngModel)]="model.middlename" placeholder="Middle Name">
          </div>
        </div>
        <div class="col-md-12">
          <div class="form-group">
            <input type="text" class="form-control" name="lastname" [(ngModel)]="model.lastname" placeholder="Last Name">
          </div>
        </div>
        <div class="col-md-12">
          <div class="form-group">
            <input type="text" placeholder="DD/MM/YYYY" name="dob" [(ngModel)]="model.dob" class="form-control" bsDatepicker
              [bsConfig]="{ isAnimated: true }">
          </div>
        </div>
        <div class="col-md-12">
          <div class="form-group">
            <input type="text" class="form-control" name="username" [(ngModel)]="model.username" placeholder="User Name">
          </div>
        </div>

        <div class="col-md-12">
          <div class="form-group">
            <input type="text" class="form-control" name="ssn" [(ngModel)]="model.ssn" placeholder="Social Security No.">
          </div>
        </div>
        <div class="col-md-12">
          <div class="form-group">
            <input type="password" name="password" [(ngModel)]="model.password" class="form-control"
                   placeholder="Password"
                   aria-describedby="passwordHelpInline">
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <select [(ngModel)]="model.userType"
                    class="form-control"
                    name="location">
              <option [value]="undefined" disabled selected hidden>Select User Type</option>
              <option [value]="item.name" *ngFor="let item of userTypes">{{item.name}}</option>
            </select>
          </div>
        </div>
        <div class="col-md-12">
          <div class="form-group">
            <select [(ngModel)]="model.department"
                    class="form-control"
                    name="department">
              <option [value]="undefined" disabled selected hidden>Select Department</option>
              <option [value]="item.name" *ngFor="let item of departments">{{item.name}}</option>
            </select>
          </div>
        </div>
        <div class="col-md-12">
          <div class="form-group">
            <select [(ngModel)]="model.location"
                    class="form-control"
                    name="location">
              <option [value]="undefined" disabled selected hidden>Select Location</option>
              <option [value]="item.name" *ngFor="let item of locations">{{item.name}}</option>
            </select>
          </div>
        </div>
        <div class="col-md-12">
          <div class="form-group">
            <select [(ngModel)]="model.company"
                    class="form-control"
                    name="company">
              <option [value]="undefined" disabled selected hidden>Select Company</option>
              <option [value]="item.name" *ngFor="let item of companies">{{item.name}}</option>
            </select>
          </div>
        </div>
        <div class="col-md-12">
          <div class="form-group">
            <input type="Email" class="form-control" name="email" [(ngModel)]="model.email" placeholder="Email">
          </div>
        </div>
        <div class="col-md-12">
          <div class="form-group">
            <input type="tel" class="form-control" name="phonenumber" [(ngModel)]="model.phonenumber" placeholder="Phone No.">
          </div>
        </div>
        <div class="col-md-12">
          <div class="form-group">
            <input type="tel" class="form-control" name="whatsappnumber" [(ngModel)]="model.whatsappnumber" placeholder="What's App No.">
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="form-group">
        <textarea type="text" class="form-control" name="address" [(ngModel)]="model.address" placeholder="Address"></textarea>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="modal-sub-title">
        <h4><i class="fa fa-unlock-alt"></i> Staff Access</h4>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <ng-multiselect-dropdown [placeholder]="'Menu'"
                                 name="menus"
                                 [settings]="dropdownSettings"
                                 [data]="Menus"
                                 [(ngModel)]="model.menus">
          
        </ng-multiselect-dropdown>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <ng-multiselect-dropdown [placeholder]="'Website'"
                                 name="websites"
                                 [settings]="dropdownSettings"
                                 [data]="Websites"
                                 [(ngModel)]="model.websites">
        </ng-multiselect-dropdown>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6 text-center">
      <button class="btn btn-outline-primary btn-block" type="submit">Save</button>
    </div>
  </div>
</form>
