<form>
  <div class="row">
    <div class="col-md-12">
      <div class="modal-sub-title">
        <h4><i class="fa fa-user"></i> Contact Info</h4>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="First Name">
          </div>
        </div>
        <div class="col-md-12">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Middle Name">
          </div>
        </div>
        <div class="col-md-12">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Last Name">
          </div>
        </div>
        <div class="col-md-12">
          <div class="form-group">
            <input type="text" placeholder="DD/MM/YYYY" class="form-control" bsDatepicker
              [bsConfig]="{ isAnimated: true }">
          </div>
        </div>
        <div class="col-md-12">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="User Name">
          </div>
        </div>

        <div class="col-md-12">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Social Security No.">
          </div>
        </div>
        <div class="col-md-12">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Note">
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <select class="form-control">
              <option selected>User Type</option>
              <option>1</option>
              <option>2</option>
              <option>3</option>
            </select>
          </div>
        </div>
        <div class="col-md-12">
          <div class="form-group">
            <select class="form-control">
              <option selected>Department</option>
              <option>1</option>
              <option>2</option>
              <option>3</option>
            </select>
          </div>
        </div>
        <div class="col-md-12">
          <div class="form-group">
            <select class="form-control">
              <option selected>Location</option>
              <option>1</option>
              <option>2</option>
              <option>3</option>
            </select>
          </div>
        </div>
        <div class="col-md-12">
          <div class="form-group">
            <select class="form-control">
              <option selected>Country</option>
              <option>1</option>
              <option>2</option>
              <option>3</option>
            </select>
          </div>
        </div>
        <div class="col-md-12">
          <div class="form-group">
            <input type="Email" class="form-control" placeholder="Email">
          </div>
        </div>
        <div class="col-md-12">
          <div class="form-group">
            <input type="tel" class="form-control" placeholder="Phone No.">
          </div>
        </div>
        <div class="col-md-12">
          <div class="form-group">
            <input type="tel" class="form-control" placeholder="What's App No.">
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="form-group">
        <textarea type="text" class="form-control" placeholder="Address"></textarea>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="modal-sub-title">
        <h4><i class="fa fa-unlock-alt"></i> Contact Access</h4>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <select multiple class="form-control">
          <option selected disabled>Menu</option>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>1</option>
          <option>2</option>
          <option>3</option>
        </select>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <select multiple class="form-control">
          <option selected disabled>Website</option>
          <option>1</option>
          <option>2</option>
          <option>3</option>
        </select>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6 text-center">
      <button class="btn btn-outline-primary btn-block">Save</button>
    </div>
  </div>
</form>
