/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
/* Font */

body {
  font-family: 'Poppins', sans-serif;
}

main {
  margin: 67px 15px 15px;
}

.middle-parent {
  position: relative;
  display: table;
  min-height: 100%;
  min-width: 100%
}

.middle {
  display: table-cell;
  vertical-align: middle;
}

.sec-title h2 {
  border-bottom: 1px solid #d1f3a3;
  color: #74904D;
  font-size: 24px;
  padding: 5px 0;
  margin-bottom: 15px;
}

.m-card {
  border: 1px solid #d1f3a3;
  overflow: hidden;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  box-shadow: 0 5px 5px -3px rgb(0 0 0 / 20%), 0 8px 10px 1px rgb(0 0 0 / 14%), 0 3px 14px 2px rgb(0 0 0 / 12%);
}

.m-card-header {
  padding: 10px;
  background: #fafff9;
  border-bottom: 1px solid #d1f3a3;
}

.m-card-body {
  padding: 10px;
}

.btn-outline-primary {
  color: #000000;
  border-color: #000000;
}

.btn-outline-primary:hover {
  color: #fff;
  border-color: #000000;
  background: #000000;
}

.btn-outline-primary:not(:disabled):not(.disabled):active:focus, .btn-outline-primary:not(:disabled):not(.disabled).active:focus, .show>.btn-outline-primary.dropdown-toggle:focus, .btn-outline-primary:focus, .btn-outline-primary.focus, .form-control:focus {
  box-shadow: none !important;
}

.btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active, .show>.btn-outline-primary.dropdown-toggle {
  color: #fff;
  background-color: #000000;
  border-color: #000000;
}

.ngx-datatable.material {
  box-shadow: none;
}

.ngx-datatable.material .datatable-body .datatable-body-row .datatable-body-cell, .ngx-datatable.material .datatable-header .datatable-header-cell {
  padding: 0.5rem;
}

.ngx-datatable.material .datatable-header {
  height: inherit!important;
}

.modal-header {
  padding: 6px 15px;
  background: #000;
  color: #fff;
}

.modal-header .close {
  margin: -.8rem -1rem -1rem auto;
  color: #fff;
  opacity: 1;
}

.modal-sub-title h4{
  font-size: 20px;
  border-bottom: 1px solid rgb(196, 196, 196);
}
.modal-sub-title{
  margin-bottom: 20px;
}
