/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
/* Font */

body {
  font-family: 'Poppins', sans-serif;
}

main {
  margin: 67px 15px 15px;
}

.middle-parent {
  position: relative;
  display: table;
  min-height: 100%;
  min-width: 100%
}

.middle {
  display: table-cell;
  vertical-align: middle;
}

.breadcrumb {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: .75rem 1rem;
  margin-bottom: 1rem;
  list-style: none;
  background-color: #e9ecef;
  border-radius: .25rem;
}
  .breadcrumb .breadcrumb-item a .feather {
    height: 18px;
    width: 18px;
    margin-right: 5px;
    fill: rgba(75,75,90,0.12);
    color: black;
    vertical-align: sub;
  }
  .breadcrumb .breadcrumb-item .page-title{
       color: #6b6b6b;
  }
  .m-card {
    background-color: #fff;
    border-radius: 10px;
    border: none;
    position: relative;
    margin-bottom: 30px;
    box-shadow: 0 0.46875rem 2.1875rem rgb(90 97 105 / 10%), 0 0.9375rem 1.40625rem rgb(90 97 105 / 10%), 0 0.25rem 0.53125rem rgb(90 97 105 / 12%), 0 0.125rem 0.1875rem rgb(90 97 105 / 10%);
  }

.m-card-header {
  border-bottom-color: #f9f9f9;
  line-height: 30px;
  width: 100%;
  padding: 10px;
  align-items: center;
  border-bottom: 1px solid rgba(0,0,0,.125);
  margin-bottom: 0;
}

.m-card-body {
  padding: 10px;
}

.btn-outline-primary {
  color: #000000;
  border-color: #000000;
}

.btn-outline-primary:hover {
  color: #fff;
  border-color: #000000;
  background: #000000;
}

.btn-outline-primary:not(:disabled):not(.disabled):active:focus, .btn-outline-primary:not(:disabled):not(.disabled).active:focus, .show>.btn-outline-primary.dropdown-toggle:focus, .btn-outline-primary:focus, .btn-outline-primary.focus, .form-control:focus {
  box-shadow: none !important;
}

.btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active, .show>.btn-outline-primary.dropdown-toggle {
  color: #fff;
  background-color: #000000;
  border-color: #000000;
}

.ngx-datatable.material {
  box-shadow: none;
}

.ngx-datatable.material .datatable-body .datatable-body-row .datatable-body-cell, .ngx-datatable.material .datatable-header .datatable-header-cell {
  padding: 0.5rem;
}

.ngx-datatable.material .datatable-header {
  height: inherit!important;
}

.modal-header {
  padding: 6px 15px;
  background: #000;
  color: #fff;
}

.modal-header .close {
  margin: -.8rem -1rem -1rem auto;
  color: #fff;
  opacity: 1;
}

.modal-sub-title h4{
  font-size: 20px;
  border-bottom: 1px solid rgb(196, 196, 196);
}
.modal-sub-title{
  margin-bottom: 20px;
}
