<section class="login-screen">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-5">
        <div class="middle-parent">
          <div class="middle">
            <div class="login-form text-center">
              <div class="lg-form-dec">
                <img src="assets/img/logo.png" alt="De Gournay">
                <h2>Welcome</h2>
                <p>Enter your email address and password to access admin panel.</p>
              </div>
              <form #loginFrom="ngForm" (ngSubmit)="login()" autocomplete="off">
                <div class="mb-3">
                  <input type="email"
                         name="username"
                         [(ngModel)]="model.username"
                         class="form-control"
                         id="" placeholder="User Name">
                </div>
                <div class="mb-3">
                  <input type="password"
                         name="password"
                         [(ngModel)]="model.password"
                         class="form-control"
                         id="" placeholder="Password"
                    aria-describedby="passwordHelpInline">
                </div>
                <div class="mb-3">
                  <select [(ngModel)]="model.location"
                          class="form-control"
                          name="location">
                    <option [value]="item.name" *ngFor="let item of items">{{item.name}}</option>
                  </select>
                </div>
                <div class="mt-4">
                  <button type="submit" class="btn btn-primary custome-btn">Login</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-7 p-0">
        <div class="login-img"></div>
      </div>
    </div>
  </div>
</section>
