<section class="login-screen">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-5">
        <div class="middle-parent">
          <div class="middle">
            <div class="login-form text-center">
              <div class="lg-form-dec">
                <img src="assets/img/logo.png" alt="De Gournay">
                <h2>Welcome</h2>
                <p>Enter your email address and password to access admin panel.</p>
              </div>
              <form>
                <div class="mb-3">
                  <input type="email" class="form-control" id="" placeholder="User Name">
                </div>
                <div class="mb-3">
                  <input type="password" class="form-control" id="" placeholder="Password"
                    aria-describedby="passwordHelpInline">
                </div>
                <div class="mb-3">
                  <select class="form-control">
                    <option selected>Location</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
                </div>
                <div class="mt-4">
                  <button type="submit" class="btn btn-primary custome-btn">Login</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-7 p-0">
        <div class="login-img"></div>
      </div>
    </div>
  </div>
</section>
