<div class="side-bar">
  <div class="logo">
    <img src="assets/img/logo.png" alt="Degournay">
  </div>
  <nav>
    <ul class="side-nav">
      <li class="has-sub">
        <a href="#"><i class="fa fa-calendar"></i> Calendar</a>
        <ul>
          <li>
            <a href="#"><i class="fa fa-calendar-plus-o"></i> Schedule</a>
          </li>
          <!-- menu -->
          <li>
            <a href="#"><i class="fa fa-id-card-o"></i> Bio</a>
          </li>
          <!-- menu -->
          <li>
            <a href="#"><i class="fa fa-calendar-times-o"></i> Holiday</a>
          </li>
          <!-- menu -->
          <li>
            <a href="#"><i class="fa fa-clock-o"></i> Projects Time</a>
          </li>
        </ul>
      </li>
      <!-- menu -->
      <li>
        <a href="#"><i class="fa fa-tachometer"></i> Dashboard</a>
      </li>
      <!-- menu -->
      <li>
        <a href="#"><i class="fa fa-bar-chart"></i> Reports</a>
      </li>
      <!-- menu -->
      <li>
        <a href="#"><i class="fa fa-file-text-o"></i> Project</a>
      </li>
      <!-- menu -->
      <li>
        <a href="#"><i class="fa fa-users"></i> Team</a>
      </li>
      <!-- menu -->
      <li>
        <a routerLink="/home/staff-list"><i class="fa fa-user"></i> Staff</a>
      </li>
      <!-- menu -->
      <li>
        <a href="#"><i class="fa fa-cog"></i> Settings</a>
      </li>
      <!-- menu -->
    </ul>
  </nav>
</div>
