<header class="well-user text-right">
  <div class="btn-group" dropdown>
    <button id="button-animated" dropdownToggle type="button" class="btn user-dropdown dropdown-toggle"
      aria-controls="dropdown-animated">
      Welcome Monjur <i class="fa fa-user-circle-o"></i>
    </button>
    <ul id="dropdown-animated" *dropdownMenu class="dropdown-menu user-dropdown-li dropdown-menu-right" role="menu"
      aria-labelledby="button-animated">
      <li><a class="dropdown-item" href="#"><i class="fa fa-user-o"></i> Edit User Profile</a></li>
      <li><a class="dropdown-item" href="#"><i class="fa fa-sign-out"></i> Log Out</a></li>
    </ul>
  </div>
</header>
