.well-user{
  padding: 8px 15px;
  background: url(../../assets/img/top-bar-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  width: 82%;
  right: 0;
}
.user-dropdown{
  margin-bottom: 0;
  color: #000;
  background: rgb(255, 255, 255, 0.5);
  font-size: 16px;
  padding: 5px 15px;
  display: inline-block;
  border-radius: 50px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
}
.user-dropdown i{
  font-size: 20px;
}
.user-dropdown-li li {
  border-bottom: 1px solid #dadada;
}
.user-dropdown-li li:last-child{
  border: none
}
