<section>
  <div class="top-info-box">
    <div class="row">
      <div class="col-md-3">
        <div class="profile-img">
          <div class="name-latter">
            <h2>MA</h2>
          </div>
        </div>
      </div>
      <div class="col-md-9">
        <div class="top-info">
          <div class="row m-0">
            <div class="col-md-4">
              <p>Full Name :</p>
            </div>
            <div class="col-md-8">
              <p>Monjur Akhter</p>
            </div>
          </div>
          <!-- // -->
          <div class="row m-0">
            <div class="col-md-4">
              <p>User Name :</p>
            </div>
            <div class="col-md-8">
              <p>monjur98</p>
            </div>
          </div>
          <!-- // -->
          <div class="row m-0">
            <div class="col-md-4">
              <p>Department :</p>
            </div>
            <div class="col-md-8">
              <p>It</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="core-details">
    <div class="row">
      <div class="col-md-12">
        <div class="core-details-title">
          <h5>Core Details :</h5>
        </div>
      </div>
      <div class="col-md-6">
        <div class="core-detail-list">
          <p>DOB : </p>
          <h5>06/03/1998</h5>
        </div>
        <!-- // -->
        <div class="core-detail-list">
          <p>Email : </p>
          <h5>monjur.akhter@mygwambo.com</h5>
        </div>
        <!-- // -->
        <div class="core-detail-list">
          <p>Phone : </p>
          <h5>8972786626</h5>
        </div>
        <!-- // -->
        <div class="core-detail-list">
          <p>What's App : </p>
          <h5>8972786626</h5>
        </div>
        <!-- // -->
      </div>
      <div class="col-md-6">
        <div class="core-detail-list">
          <p>Entry Date : </p>
          <h5>15/01/2020</h5>
        </div>
        <!-- // -->
        <div class="core-detail-list">
          <p>SSN : </p>
          <h5>BZCPA4218C</h5>
        </div>
        <!-- // -->
        <div class="core-detail-list">
          <p>Location : </p>
          <h5>BRG</h5>
        </div>
        <!-- // -->
        <div class="core-detail-list">
          <p>Note : </p>
          <h5>Very Good</h5>
        </div>
        <!-- // -->
      </div>
      <div class="col-md-12">
        <div class="core-detail-list core-detail-address">
          <p>Address : </p>
          <h5>Khorgachhi north 24 PGS</h5>
        </div>
      </div>
    </div>
  </div>
  <div class="permission-details">
    <div class="row">
      <div class="col-md-12">
        <div class="core-details-title">
          <h5>Permissions :</h5>
        </div>
      </div>
      <div class="col-md-6">
        <div class="permission-details-list-title">
          <h2>Menus <i class="fa fa-unlock"></i></h2>
        </div>
        <ul class="permission-details-list">
          <li>Deshboard</li>
          <li>Calendar</li>
          <li>Bio</li>
          <li>Project</li>
          <li>Staff</li>
        </ul>
      </div>
      <div class="col-md-6">
        <div class="permission-details-list-title">
          <h2>Website <i class="fa fa-unlock"></i></h2>
        </div>
        <ul class="permission-details-list">
          <li>CRM</li>
          <li>DGS III</li>
          <li>PS</li>
          <li>TS</li>
        </ul>
      </div>      
    </div>
  </div>
</section>
